:root {
  --bg-color: #ffffff;
  --bg-color-secondary: #2f303a;
  --main-text: #212121;
  --secondary-text: #757575;
  --text-hover: #2196f3;
  --color-logos: #2196f3;
  --buttons-text: #212121;
  --buttons-text-active: #ffffff;
  --buttons-main-bcg: #f5f4fa;
  --buttons-active-bcg: #2196f3;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --margin-card-set: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  /*outline: 1px seagreen solid;**/
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  /*outline: 1px seagreen solid;*/
}

/*INDEX-html-page*/

.border-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  padding: 24px 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 90px;

  color: var(--color-logos);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent-logo {
  color: #212121;
}

.accent-white {
  color: #ffffff;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item .link {
  color: var(--main-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-item .link.current {
  color: var(--text-hover);
}

.site-nav-item .link:hover,
.site-nav-item .link:focus {
  color: var(--text-hover);
}

/*header contacts*/
.header-contacts {
  display: flex;
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .link {
  color: var(--secondary-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts .link:focus,
.header-contacts .link:hover {
  color: var(--text-hover);
}

/*========WHAT WO DOIN SECTION====*/
.what-we-doing-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../css/images/bg-hero.jpg);

  background-color: var(--bg-color-secondary);
  text-align: center;
  padding: 200px 15px;
}

.what-we-doing-container {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.main-title-index {
  color: var(--bg-color);
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-index {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  margin-top: 30px;

  color: var(--buttons-main-bcg);
  background-color: var(--buttons-active-bcg);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}

.button-index:hover,
.button-index:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*============OUR FEATURES SEctION=====*/
.ourfeatures-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourfeatures-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.features-elemnt {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features-elemnt::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.features-elemnt:nth-child(1)::before {
  background-image: url(../css/images/antenna\ 1.svg);
}

.features-elemnt:nth-child(2)::before {
  background-image: url(../css/images/clock\ 1.svg);
}

.features-elemnt:nth-child(3)::before {
  background-image: url(../css/images/Vector.svg);
}

.features-elemnt:nth-child(4)::before {
  background-image: url(../css/images/astronaut\ 1.svg);
}

.features-elemnt:last-child {
  margin-right: 0px;
}
.lower-titles-index {
  color: var(--main-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.secondary-text-index {
  margin-top: 10px;

  color: var(--secondary-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.bottom-titles-index {
  margin-bottom: 50px;

  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-tasks-section {
  padding-bottom: 94px;
}

.our-tasks-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.our-tasks-list {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.our-tasks-item {
  margin-right: 30px;
}

.our-tasks:last-child {
  margin-right: 0px;
}
/*===================OUR TEAM SECTION==============*/
.our-team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-section-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.our-team-section-title {
  margin-bottom: 50px;
  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section-list {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.our-team-section-item {
  margin-right: 30px;
  width: 270px;
  left: 215px;
  top: 1635px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-section-item:last-child {
  margin-right: 0px;
}

.our-names {
  margin-bottom: 10px;

  color: var(--main-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*.our-team-section-image {
}*/

.our-team-card {
  padding: 30px 32px;
}
.names-discription {
  color: var(--secondary-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/*=================FOOTER================*/

.footer {
  background-color: #2f303a;
  min-height: 252px;
}

.footer-container {
  width: 1200px;
  padding: 55px 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-bottom {
  margin-right: 0px;

  color: var(--color-logos);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-adress {
  margin-top: 20px;

  color: var(--buttons-text-active);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--text-hover);
  text-decoration: none;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--text-hover);
}

.foot {
  margin-top: 10px;
}

/*================PORTFOLIO-NAV========================*/
/*main-buttons*/
.hidden-elements {
  display: none;
}
.portfolio-main-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #ffffff;
}

.portfolio-main-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color);
}

.portfolio-buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-buttons-item {
  margin-right: 8px;
}
.portfolio-buttons-item:last-child {
  margin-right: 0px;
}

.buttons {
  padding: 6px 22px;

  color: var(--buttons-text);
  background: var(--buttons-main-bcg);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
}

.buttons.active:hover,
.buttons.active:focus {
  color: var(--buttons-text-active);
  background: var(--buttons-active-bcg);
  cursor: pointer;
}
/*=============PORTFOLIO MAIN LIST=================*/
.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-card-set));
  margin-top: calc(-1 * var(--margin-card-set));
}

.portfolio-card-set-item {
  flex-basis: calc((100% - 3 * var(--margin-card-set)) / 3);
  margin-left: var(--margin-card-set);
  margin-top: var(--margin-card-set);
}

.card-set-content {
  display: block;
  text-decoration: none;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  box-sizing: border-box;
}

.card-set-content:hover,
.card-set-content:focus {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/*.card-set-thumb {
}*/

.card-set-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.port-titles {
  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-texts {
  margin-top: 4px;

  color: var(--secondary-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*=================END CARD SET===========*/

/*===============FOOter====================*/
